<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read List</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        <h1>Read List</h1>
    </header>

    <nav>
        <ul class="nav-menu">
            <li>
                <a href="<%= '/' %>" class="nav-link text-white">Home</a>
            </li>

            <li>
                <a href="<%= '/docs' %>" class="nav-link text-white">Documentation</a>
            </li>

            <li>
                <a href="https://github.com/PacifiedPizza/Book-readlist.git" target="_blank" class="nav-link text-white">GitHub</a>
            </li>
        </ul>
    </nav>
