<%- include("./partials/header.ejs") %>
    <!DOCTYPE html>
    <html lang="en">

    <div class="container-document">
        <h2>Read list Documentation</h2>
        <p>
            The Read list Web App is a capstone project inspired by the idea of keeping notes on non-fiction books,
            influenced by Derek Sivers' fantastic website. The project focuses on integrating public APIs into web
            projects, utilizing Express/Node.js for server-side programming, and demonstrating proficiency in CRUD
            operations with a PostgreSQL database.
        </p>

        <h2>Objectives</h2>
        <ul>
            <li>Database Persistance:
                <ul>
                    <li>Persist data using a PostgreSQL database.</li>
                    <li>Utilize CRUD methods to manipulate data in the database.</li>
                </ul>
            </li>
            <li>Project Planning:
                <ul>
                    <li>Research API documentation and project features.</li>
                    <li>Define data to be stored and plan its usage in the web application.</li>
                    <li>Create a database diagram using draw.io, including any relationships.</li>
                    <li>Plan the PostgreSQL commands required to create the schema.</li>
                </ul>
            </li>
            <li>Project Setup:
                <ul>
                    <li>Create a new Node.js project using Express.js.</li>
                    <li>Include the pg library for working with the local PostgreSQL database.</li>
                    <li>Use EJS for templating.</li>
                    <li>Develop a structured directory and file organization.</li>
                </ul>
            </li>
            <li>API Integration:
                <ul>
                    <li>Implement at least a GET endpoint to interact with the chosen API.</li>
                    <li> Use Axios to send HTTP requests to the API and handle responses.</li>
                </ul></li>
            <li> Data Presentation:
                <ul> <li>Design the application to present book covers from the API and data from the database in a
                        user-friendly manner.</li>
                        <li> Use appropriate HTML, CSS, and the EJS templating engine.</li>
                        <li> Implement sorting options for user convenience.</li>
                </ul>
            </li>
            <li> Error Handling:
                <ul>
                    <li> Implement robust error handling for both the application and API requests.</li>
                    <li> Provide user-relevant error messages for a seamless experience.</li>
                </ul>
            </li>
            <h2>Contact</h2>
            <p>Feel free to reach out for questions or feedback. You can check GitHub: <a href="


    <%- include('./partials/footer.ejs'); -%>